<app-toolbar (onSeasonSelected)="loadSchedule($event)"></app-toolbar>

<div class="settings-bar" *ngIf="!isLoading">
  <button mat-stroked-button (click)="showSettings = !showSettings"
    matTooltip="Where new series are added in Sonarr">
    <mat-icon>settings</mat-icon> Setup
  </button>
  <ng-container *ngIf="showSettings">
    <mat-form-field appearance="outline" class="setup-select">
      <mat-label>Quality profile</mat-label>
      <mat-select [(ngModel)]="selectedProfileId" (selectionChange)="onProfileChange()">
        <mat-option *ngFor="let p of sonarrProfiles" [value]="p.id">{{ p.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="setup-select">
      <mat-label>Root folder</mat-label>
      <mat-select [(ngModel)]="selectedRootFolder" (selectionChange)="onRootFolderChange()">
        <mat-option *ngFor="let r of sonarrRootFolders" [value]="r.path">{{ r.path }}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="setup-hint">New adds use these; leave blank to use server defaults.</span>
  </ng-container>
</div>

<div class="filter-bar" *ngIf="!isLoading && shows.length">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchText" placeholder="Filter by title" />
    <button mat-icon-button matSuffix *ngIf="searchText" (click)="searchText = ''"
      matTooltip="Clear search">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="filter-select">
    <mat-label>Genres</mat-label>
    <mat-select [(ngModel)]="selectedGenres" multiple>
      <mat-option *ngFor="let genre of availableGenres" [value]="genre">{{ genre }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="filter-select">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="selectedFormats" multiple>
      <mat-option *ngFor="let format of availableFormats" [value]="format">{{ format }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="favoritesOnly">Favorites only</mat-checkbox>

  <button mat-stroked-button *ngIf="hasActiveFilters" (click)="clearFilters()"
    matTooltip="Clear all filters">
    <mat-icon>clear</mat-icon> Clear
  </button>
</div>

<div class="scrollable-content">
  <div *ngIf="!isLoading" class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="33%" fxFlex.lt-xl="50%" fxFlex.lt-lg="100%" *ngFor="let show of matchedShows">
        <app-series-card [series]="show" [existingSonarrSeriesIds]="existingSonarrSeriesIds" [mismatches]="mismatches"
          [favorites]="favorites">
        </app-series-card>
      </div>
    </div>
  </div>
  <section *ngIf="!isLoading">
    <mat-toolbar *ngIf="mismatchedShows.length > 0" color="warning">
      <mat-icon>warning</mat-icon>
      Mismatched</mat-toolbar>
    <div *ngIf="mismatchedShows.length > 0" class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="33%" fxFlex.lt-xl="50%" fxFlex.lt-lg="100%" *ngFor="let show of mismatchedShows">
          <app-series-card [series]="show" [existingSonarrSeriesIds]="existingSonarrSeriesIds" [mismatches]="mismatches"
            [favorites]="favorites" [isMismatched]="true">
          </app-series-card>
        </div>
      </div>
    </div>
  </section>
</div>